<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/b25957ae4f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <menu>
      <h2>LMS</h2>

      <ul>
        <a href="">
          <li>Announcements</li>
        </a>

        <a href="">
          <li>Register</li>
        </a>

        <a href="">
          <li>Login</li>
        </a>

        <a href="">
          <li>My Courses</li>
        </a>

        <a href="">
          <li>All Courses</li>
        </a>

        <a href="">
          <li>Course Page</li>
        </a>

        <a href="">
          <li>Do Quiz</li>
        </a>
      </ul>
      <div class="user">
        <i class="fa-solid fa-user"></i>
      </div>
    </menu>
    {{{body}}}
  </body>
</html>