* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* -------Menu-------- */
menu {
  background-color: gainsboro;
  /* background-color: rgb(64, 105, 166); */
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

menu h2 {
  font-family: "Pacifico", cursive;
}

menu ul {
  display: flex;
}

menu ul a {
  text-decoration: none;
}

menu ul a li {
  padding: 20px;
  font-size: 16px;
  color: black;
  list-style: none;
  border-bottom: 5px /* rgb(64, 105, 166)  */ gainsboro solid;
}

menu ul a li:hover {
  /* background-color: rgb(116, 117, 167); */
  border-bottom: 5px rgb(112, 47, 47) solid;
}

menu .user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  border-radius: 10px;
  border: 2px black solid;
}

menu .user:hover {
  cursor: pointer;
  background-color: rgb(123, 163, 224);
}

.logout {
  right: 2%;
  top: 10%;
  position: fixed;
  width: 80px;
  height: 40px;
  background-color: rgb(138, 60, 60);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  margin: auto;
  /* position: relative; */
}

.logout span {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logout:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* Main body */

.container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: 80px auto 60px;
  padding: 40px 40px 40px 30px;
  width: 100%;

  /* background-color: rgb(149, 149, 149); */
}

.courses {
  width: 300px;
  height: 300px;
  border: 2px solid rgb(203, 200, 200);
  border-radius: 15px;
  margin-bottom: 30px;
  transition: margin-top 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.courses:hover {
  margin-top: -10px;
  cursor: pointer;
}

.courses h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 28px;
}

.courses img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.courses button {
  width: 75%;
  padding: 10px;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border-style: none;
}

.courses button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Footer */

footer {
  width: 100%;
  height: 220px;
  background-color: rgba(220, 220, 220, 0.596);
  font-family: "Courier New", Courier, monospace;
  /* position: absolute;
    bottom: 0; */
  /* bottom: 100%; */
}

.first_row {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px 20px;
}

.footer_information {
  margin-left: 20px;
}

footer .hotline,
.address {
  font-size: 20px;
}

.gmail {
  width: 500px;
}

.gmail #email {
  width: 80%;
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  border: 2px solid green;
}

.gmail #submit_gmail {
  padding: 10px 20px;
  background-color: green;
  border: 2px solid green;
  border-radius: 8px;
  margin-left: 20px;
}

.gmail #submit_gmail:hover {
  cursor: pointer;
  opacity: 0.7;
}

.gmail h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.icon_container {
  width: 200px;
  background-color: gray;
  height: 100px;
  position: absolute;
  /* bottom: 10; */
  display: flex;
  transform: translateY(-55%);
  justify-content: space-around;
  padding-top: 30px;
  left: 70px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.icon_container span i {
  font-size: 30px;
}
