<div class="banner">
  <div class="slogan">
    <h1>Born Ordinary</h1>
    <h1>Grown EXTRAORDINARY</h1>
    <h1>Let's change the world with technology</h1>
  </div>

  <div class="level">
    <div class="kids">
      <h1 class="ages">Kids</h1>
      <p class="learning_path">Learning path for kids 9 - 15 years old</p>
    </div>

    <div class="teens">
      <h1 class="ages">Teens</h1>
      <p class="learning_path">Learning path for teens for 15 - 18 years old</p>
    </div>

    <div class="adults">
      <h1 class="ages">Teens</h1>
      <p class="learning_path">Learning path for adults for worker</p>
    </div>
  </div>
</div>